<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h2 class="footer-heading text-uppercase mb-4">Acerca del Sitio</h2>
                <p>Este sitio fue desarrollado por Steven Wilson.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <h2 class="footer-heading text-uppercase mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a href="\">Home</a></li>
                    <li><a href="\nosotros">Nosotros</a></li>
                    <li><a href="\ver-notas">Ver Notas</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="footer-heading text-uppercase mb-4">Más de Nosotros</h2>
                <p>
                    <a href="https://www.youtube.com/user/cfketelaar1" class="p-2"><span
                            class="icon-youtube"></span></a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made
                        with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>