{% extends 'layout.html' %}

{% block body %}
<div class="site-section site-hero inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <span class="d-block mb-3 caption">Ver</span>
        <h1 class="d-block mb-4">Notas</h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">


    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="pricing border-secondary text-center">
          <h2>Basic Pass</h2>
          <div class="amount"><sup>$</sup><span class="number">190</span> </div>
          <ul class="list-unstyled mb-5">
            <li>1-Day Entrance</li>
            <li>Essential Access</li>
            <li>1 Guest Ticket</li>
            <li>1 Workshop</li>
            <li>Free Snacks</li>
          </ul>
          <div><a href="#" class="btn btn-secondary px-4 py-2">Buy Ticket</a></div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="pricing border-primary text-center">
          <h2>Standard Pass</h2>
          <div class="amount"><sup>$</sup><span class="number">289</span> </div>
          <ul class="list-unstyled mb-5">
            <li>1-Day Entrance</li>
            <li>Essential Access</li>
            <li>1 Guest Ticket</li>
            <li>1 Workshop</li>
            <li>Free Snacks</li>
          </ul>
          <div><a href="#" class="btn btn-primary px-4 py-2">Buy Ticket</a></div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="pricing border-secondary text-center">
          <h2>Premium Pass</h2>
          <div class="amount"><sup>$</sup><span class="number">490</span> </div>
          <ul class="list-unstyled mb-5">
            <li>1-Day Entrance</li>
            <li>Essential Access</li>
            <li>1 Guest Ticket</li>
            <li>1 Workshop</li>
            <li>Free Snacks</li>
          </ul>
          <div><a href="#" class="btn btn-secondary px-4 py-2">Buy Ticket</a></div>
        </div>
      </div>
    </div>
  </div>
</div>






</div>
</div>

{% endblock %}