{% extends 'layout.html' %}

{% block body %}
<div class="site-section site-hero inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <span class="d-block mb-3 caption">Ver</span>
        <h1 class="d-block mb-4">Notas</h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">


    <div class="row">


      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
        <h2>MC 106, section A, Fall 2020</h2>
      </div>
      <a href="https://docs.google.com/spreadsheets/d/1tortTArFVn3IHr3vk9vgys_1xIGNeSXWgp2AM3Tee2g/edit?usp=sharing"
        style="color:white;">
        {% if df is defined %}
        {{df|safe}}
        {% endif %}
      </a>
    </div>
  </div>
</div>






</div>
</div>

{% endblock %}